
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    background-color: aqua;
  }
  
  .gallery-item {
    overflow: hidden; 
  }
  .gallery-item img {
    width: 100%; 
    height: auto; 
  }
  